{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-2 mb-4">Leerlingen <span class="text-muted">in klas {{ klas.naam }}</span></h1>

    <div class="form-group row mt-3 ">
        <div class="col-sm-9">
            {% if klas.leerlingen %}
                <table class="table table-bordered table-striped rounded text-center">

                    <thead>
                    <tr>
                        <th>Naam student</th>
                        <th>Student nummer</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for leerling in klas.leerlingen %}
                        <tr>
                            <td>{{ leerling.naam }}</td>
                            <td>{{ leerling.studentId }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Er zijn nog geen leerlingen toegevoegd</h3>
            {% endif %}
        </div>

        <div class="col-sm-3 border p-2 rounded">

            <form method="post" action="{{ path('administrator_nieuwe_student_toevoegen', {id:klas.id}) }}">
                <input class="form-control mb-2" type="text" name="naam" placeholder="Naam leerling">
                <input class="form-control mb-2" type="text" name="studentId" placeholder="Leerlingnummer">
                <button type="submit" class="add-student btn btn-outline-success w-100"><i class="fas fa-user-plus"></i>
                    Leerling
                    toevoegen
                </button>
            </form>

            <a href="{{ path('administrator') }}" class="form-control col btn btn-outline-success mt-3">Gereed</a>

        </div>

    </div>




{% endblock %}