{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-2 mb-4">Nieuwe leerling <span class="text-muted">in klas {{ klas.naam }}</span></h1>

    <div class="alert_js">

    </div>


    <div class="form-group row mt-3 ">
        <label class="col-sm-2">Leerlingen: </label>
        <div class="col-sm-7 p-3">
            {% if klas.leerlingen %}
                <ul id="s_list">
                    {% for leerling in klas.leerlingen %}
                        <li>{{ leerling.naam }} - {{ leerling.studentId }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3><i class="fas fa-exclamation-triangle text-warning"></i> Er zijn nog geen leerlingen toegevoegd</h3>
            {% endif %}
        </div>

        <div class="col-sm-3 border p-2 rounded">

            <form>
                <input class="form-control mb-2" type="text" id="naam" placeholder="Naam leerling">
                <input class="form-control mb-2" type="text" id="studentId" placeholder="Leerlingnummer">
                <button type="submit" class="add-student btn btn-outline-success w-100"><i class="fas fa-user-plus"></i>
                    Leerling
                    toevoegen
                </button>
            </form>
        </div>

    </div>
    <div class="form-group row mt-3 ">
        <label class="col-sm-2"></label>
        <a href="{{ path('administrator') }}" class="form-control col btn btn-outline-success">Gereed</a>
    </div>



{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script>

        $(document).ready(function () {
            $('.add-student').on('click', function (e) {
                e.preventDefault();
                var $link = $(e.currentTarget);

                $.ajax({
                    method: 'POST',
                    url: $link.attr('href')
                }).done(function (data) {
                    location.reload(true);
                })

            });
        });

    </script>

{% endblock %}