<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SimplyPlan{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="icon" href="{{ asset ('img/icon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Public+Sans|Roboto+Slab&display=swap" rel="stylesheet">
        <link href="{{ asset('css/base.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a75c1f8dda.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body class="pt-0 shadow-lg"
      style="background-image: url({{ asset('img/bg.jpg') }}); background-attachment: fixed; background-position: center; background-repeat: no-repeat;">

<nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom position-sticky" style="top: 0; z-index: 1000">
    <a class="navbar-brand pr-5 pl-3" href="#">
        <img src="{{ asset('img/ROC-logo.png') }}" height="65" alt="ROC Mondriaan">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 w-100 row text-center">
            <li class="nav-item col">
                <a class="nav-link text-primary" href="{{ path('home') }}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
            </li>
            {% if app.user %}

                {% if 'ROLE_ADMIN' in app.user.roles %}
                    <li class="navbar-item col">
                        <a href="{{ path('uitnodiging') }}" class="nav-link text-primary">Nieuwe uitnodiging</a>
                    </li>
                    <li class="navbar-item col">
                        <a href="{{ path('administrator_nieuwe_sbler') }}" class="nav-link text-primary">Nieuw SLB account</a>
                    </li>
                    <li class="navbar-item col">
                        <a href="{{ path('administrator_locatie_nieuw') }}" class="nav-link text-primary">Locatie toevoegen</a>
                    </li>
                    <li class="navbar-item col">
                        <a href="{{ path('administrator_locatie_lijst') }}" class="nav-link text-primary">Overzicht locaties</a>
                    </li>
                    <li class="navbar-item col">
                        <a href="{{ path('administrator') }}" class="nav-link text-primary">Overzicht uitnodigingen</a>
                    </li>
                    <li class="navbar-item col">
                        <a href="{{ path('administrator_klassen') }}" class="nav-link text-primary">Overzicht klassen</a>
                    </li>
                {% elseif 'ROLE_SLB' in app.user.roles %}
                    <li class="navbar-item col">
                        <a href="{{ path('slb_nieuwe_klas') }}" class="nav-link text-primary"> Klas toevoegen</a>
                    </li>
                    <li class="navbar-item col">
                        <a href="{{ path('slb_studenten_toevoegen') }}" class="nav-link text-primary">Studenten toevoegen</a>
                    </li>
                    <li class="navbar-item col">
                        <a href="{{ path('slb') }}" class="nav-link text-primary"> Overzicht klassen</a>
                    </li>
                    <li class="navbar-item col">
                        <a href="{{ path('slb_uitnodigingen') }}" class="nav-link text-primary">Overzicht uitnodigingen</a>
                    </li>
                {% endif %}
                <li class="navbar-item col">
                    <a href="{{ path('profiel') }}" class="nav-link text-primary">Profiel</a>
                </li>
                <li class="navbar-item col">
                    <a href="{{ path('logout') }}" class="nav-link text-danger">Uitloggen</a>
                </li>
            {% else %}
                <li class="navbar-item col" >
                    <a class="nav-link text-primary text-primary" href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i>
                        Inloggen</a>
                </li>

            {% endif %}
        </ul>
    </div>
</nav>

<div class="container min-vh-100 bg-white pb-5" id="wrapper" style="box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75); z-index: -10">

    <div class="container min-vh-100 p-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% block back %}
            <a href="{{ path('home') }}" class="btn btn-outline-primary mt-3 mb-2"><i
                        class="fas fa-home"></i></a>
            <a href="{% block backLink %}
                {{ app.request.headers.get('referer') }}
            {% endblock %}" class="btn btn-outline-primary mt-3 mb-2"><i
                        class="fas fa-undo-alt"></i></a>
        {% endblock %}

        {% block body %}
        {% endblock %}

    </div>

    {% block footer %}
        <footer class="bg-transparent text-center mt-5">
            <hr class="m-0 p-0 w-100">
            <p class="text-secondary p-3">Ontwikkeld door: <a target="_blank"
                                                              href="https://www.linkedin.com/in/tom-baak/">Tom Baak</a>
            </p>
        </footer>
    {% endblock %}

</div>

</body>

{% block javascripts %}
    <script src="{{ asset('js\add-collection-widget.js') }}" type="javascript"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

    <script>

        $('.table').DataTable({
            "language": {
                "search": "Zoeken:",
                "lengthMenu":     "Geef _MENU_ resultaten weer",
                "info": "Resultaten _START_ t/m _END_ van de _TOTAL_ resultaten",
                paginate: {
                    first:    '«',
                    previous: '‹',
                    next:     '›',
                    last:     '»'
                }
            },
            "paging" : true,
            "responsive": true,
            "info": true,

        });

    </script>
{% endblock %}

</html>
