{% extends ('base.html.twig') %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/index.css') }}">

{% endblock %}

{% block back %}
{% endblock %}

{% block body %}
    <h1 class="rocmon-font w-100 mt-5"><i class="far fa-calendar-check"></i> Dashboard</h1>
    {% if app.user %}
        <p>Welkom {{ app.user.firstname }} bij SimplyPlan van ROC Mondriaan.</p>
    {% else %}
        <p>Welkom bij SimplyPlan van ROC Mondriaan. Log in om de applicatie te gebruiken.</p>
    {% endif %}
    <hr class="bg-primary">

        <div class="row">

            <div class="{% if app.user %}col-sm-8{% else %}col-sm-9{% endif %}">

                <h1 class="pt-3 pb-3"><i class="fas fa-calendar-alt"></i> Actieve uitnodigingen</h1>

                {% if uitnodigingen|length > 0 %}

                    <table class="table table-bordered table-striped text-center">
                        <thead>
                        <th><i class="far fa-calendar-alt"></i> Klas</th>
                        <th><i class="far fa-calendar-alt"></i> Wanneer</th>
                        <th><i class="far fa-calendar-check"></i> Aantal afspraken</th>
                        </thead>
                        <tbody>
                        {% for uitnodiging in uitnodigingen %}
                            <tr>
                                <td>{{ uitnodiging.klas.naam }}</td>
                                <td>{{ uitnodiging.date|date('j F Y') }}
                                    vanaf {{ uitnodiging.startTime|date('H:i') }} </td>
                                <td>
                                    {% if app.user %}
                                        {% if 'ROLE_SLB' in app.user.roles %}
                                            <a href="{{ path('slb_afspraken',{id: uitnodiging.id}) }}"><i
                                                        class="fas fa-list"></i> Bekijk <span
                                                        class="badge badge-pill badge-primary position-relative">{{ uitnodiging.afspraken|length }}</span></a>
                                        {% elseif 'ROLE_ADMIN' in app.user.roles %}
                                            <a href="{{ path('inschrijvingen',{id: uitnodiging.id}) }}"><i
                                                        class="fas fa-list"></i> Bekijk <span
                                                        class="badge badge-pill badge-primary position-relative">{{ uitnodiging.afspraken|length }}</span></a>
                                        {% endif %}
                                    {% else %}
                                        <span class="badge badge-pill badge-primary position-relative">{{ uitnodiging.afspraken|length }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% else %}

                    <h2>Er zijn momenteel geen uitnodigingen</h2>

                {% endif %}

            </div>
            {% if app.user %}
                <div class="col">

                    <h1 class="pt-3 pb-3"><i class="fas fa-cog"></i> Opties</h1>
                    <div class="border p-3 panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if 'ROLE_ADMIN' in app.user.roles %}
                                    <a href="{{ path('uitnodiging') }}" class="btn btn-success btn-lg mb-3"><p
                                                class="far fa-calendar-plus text-white iconsize"></p><br>
                                        <p>Nieuwe
                                            uitnodiging</p></a>
                                    <a href="{{ path('administrator_nieuwe_sbler') }}"
                                       class="btn btn-success btn-lg float-right mb-3"><p
                                                class="fas fa-user-plus text-white iconsize"></p><br>
                                        <p>Nieuw SLB account</p></a>
                                    <a href="{{ path('administrator_locatie_nieuw') }}"
                                       class="btn btn-success btn-lg"><p
                                                class="far fa-plus-square text-white iconsize"></p><br>
                                        <p>Locatie toevoegen</p></a>
                                    <a href="{{ path('administrator_locatie_lijst') }}"
                                       class="btn btn-primary btn-lg float-right"><p
                                                class="fas fa-list text-white iconsize"></p><br>
                                        <p>Overzicht locaties</p></a>
                                    <a href="{{ path('administrator') }}"
                                       class="btn btn-primary btn-lg mt-3"><p
                                                class="fas fa-envelope-open-text text-white iconsize"></p><br>
                                        <p>Overzicht uitnodigingen</p></a>
                                {% elseif 'ROLE_SLB' in app.user.roles %}
                                    <a href="{{ path('slb_nieuwe_klas') }}" class="btn btn-success btn-lg"><p
                                                class="fas fa-user-plus text-white iconsize"></p><br>
                                        <p class="btn-text">Klas toevoegen</p></a>
                                    <a href="{{ path('slb_studenten_toevoegen') }}"
                                       class="btn btn-success btn-lg float-right"><p
                                                class="fas fa-user-plus text-white iconsize"></p>
                                        <p class="btn-text">Studenten toevoegen</p></a>
                                    <a href="{{ path('slb') }}"
                                       class="btn btn-primary btn-lg mt-3"><p
                                                class="fas fa-list text-white iconsize"></p><br>
                                        <p>Overzicht klassen</p></a>
                                    <a href="{{ path('slb_uitnodigingen') }}"
                                       class="btn btn-primary btn-lg mt-3 float-right">
                                        <p class="fas fa-envelope-open-text text-white iconsize"></p><br>
                                        <p>Overzicht uitnodigingen</p></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <h1 class="text-center p-3"><i class="fas fa-lock-open"></i> Inloggen</h1>

                    <div class="border rounded p-3">
                        <form class="w-75 m-auto" method="post" action="{{ path('login') }}">
                            <div class="row">
                                <div class="col-sm-12"><label for="email">Email:</label></div>
                                <div class="col-sm-12"><input class="form-control" type="email"
                                                              id="email" name="email" placeholder="Email"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12"><label for="pw">Wachtwoord:</label></div>
                                <div class="col-sm-12"><input class="form-control" type="password" id="pw"
                                                              name="password"
                                                              placeholder="Wachtwoord"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12"></div>
                                <div class="col-sm-12"><input class="form-control btn btn-outline-primary" type="submit"
                                                              value="Log in"></div>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">
                        </form>
                    </div>
                </div>
            {% endif %}

        </div>

{% endblock %}