    {% extends 'base.html.twig' %}

{% block body %}

    <div class="container w-75 m-auto">
        <div class="row">
            <div class="col-sm-8">

                <h1 class="text-center p-3"><i class="fas fa-users"></i> Klassen</h1>

                {% if classes %}

                <table class="table table-striped table-bordered overflow-auto text-center">

                    {% for class in classes %}

                    <tr>
                        <td class="col-sm-2">{{ class.naam }}</td>
                        <td class="col-sm-5"><i class="fas fa-users"></i>&nbsp;&nbsp;Aantal studenten: {{ class.students|length }}</td>
                        <td class="col-sm-5"><a href="{{path('administrator_nieuwe_student',{id:class.id})}}" class="w-100"><i class="fas fa-users"></i>&nbsp;&nbsp;Student(en)</a></td>
                    </tr>

                    {% endfor %}

                </table>

                {% else %}
                    <h3 class="text-danger text-center"><i class="fas fa-exclamation-triangle text-warning"></i> Er zijn nog geen klassen aangemaakt</h3>
                {% endif %}

            </div>
            <div class="col">

                <h1 class="text-center p-3"><i class="fas fa-cog"></i> Opties</h1>
                <div class="border w-100 p-3">
                    <a href="{{ path('administrator_nieuwe_sbler') }}" class="btn btn-success w-100 mb-3"><i class="fas fa-user-plus"></i> Nieuw
                        SLB account aanmaken</a>
                    <a href="{{ path('administrator_nieuwe_klas') }}" class="btn btn-success w-100"><i class="fas fa-user-plus"></i> Klas toevoegen</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}