{% extends 'base.html.twig' %}

{% block backLink %}
    {{ path('home') }}
{% endblock %}

{% block body %}



    <div class="">

        <div class="row">
            <div class="col-sm-9">
                <h1 class="pt-3 pb-3"><i class="fas fa-calendar-alt"></i> Actieve uitnodigingen</h1>
                {% if uitnodigingen %}
                    <table class="table table-bordered table-striped text-center">
                        <thead>
                        <th><i class="fas fa-users"></i> Klas</th>
                        <th><i class="far fa-calendar-alt"></i> Datum</th>
                        <th><i class="far fa-calendar-check"></i> Afspraken</th>
                        </thead>
                        <tbody>
                        {% for uitnodiging in uitnodigingen %}
                            {% if uitnodiging.date > vandaag %}
                            <tr>
                                <td>{{ uitnodiging.klas.naam }}</td>
                                <td>{{ uitnodiging.date|date('j-M-Y') }}</td>
                                <td><a href="{{ path('inschrijvingen',{id: uitnodiging.id}) }}">Bekijk gemaakte
                                        afspraken <span class="badge badge-pill badge-primary position-relative">{{ uitnodiging.afspraken|length }}</span></a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3 class=""><i class="far fa-calendar-times text-warning"></i> Er zijn
                        nog geen uitnodigingen aangemaakt</h3>
                {% endif %}
            </div>
            <div class="col">
                <h1 class="text-center p-3"><i class="fas fa-cog"></i> Opties</h1>
                <div class="border w-100 p-3">
                    <a href="{{ path('uitnodiging') }}" class="btn btn-success w-100 mb-3"><i class="far fa-calendar-plus"></i>&nbsp;&nbsp;Nieuwe
                        uitnodiging</a>
                    <a href="{{ path('administrator_nieuwe_sbler') }}" class="btn btn-success w-100"><i class="fas fa-user-plus"></i> Nieuw
                        SLB account aanmaken</a>
                    <hr>
                    <a href="{{ path('administrator_locatie_nieuw') }}" class="btn btn-success w-100 mb-3"><i class="far fa-plus-square"></i>
                        Locatie toevoegen</a>
                    <a href="{{ path('administrator_locatie_lijst') }}" class="btn btn-primary w-100"><i class="fas fa-list"></i>
                        Overzicht Locaties</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}