{% extends 'base.html.twig' %}

{% block backLink %}
    {{ path('home') }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <h1 class="text-center p-3"><i class="fas fa-users"></i> Klassen</h1>

                {% if klassen %}

                    <table class="table table-striped table-bordered overflow-auto text-center">

                        <thead>
                        <tr>
                            <th><i class="fas fa-align-left"></i> Klas naam:</th>
                            <th><i class="fas fa-users"></i> Aantal studenten:</th>
                            <th><i class="fas fa-list-ol"></i> Student(en):</th>
                            <th><i class="fas fa-envelope-open-text"></i> Uitnodigingen:</th>
                            <th><i class="fas fa-map-marked"></i> Locatie:</th>
                            <th><i class="fas fa-trash"></i> Verwijderen:</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for klas in klassen %}

                            <tr>
                                <td class="col-sm-2 font-weight-bold">{{ klas.naam }}</td>
                                <td class="col-sm-1">{{ klas.students|length }}</td>
                                <td class="col-sm-1"><a href="{{ path('slb_studenten',{id:klas.id}) }}" class="w-100"><i
                                                class="fas fa-list-ol"></i></a></td>
                                <td class="col-sm-1"><a href="{{ path('slb_klas_uitnodigingen',{id:klas.id}) }}"
                                                        class="w-100"><i
                                                class="fas fa-envelope-open-text"></i></a></td>
                                <td class="col-sm-6">{{ klas.location.naam }}</td>
                                <td class="col-sm-1"><a href="{{ path('slb_klas_verwijderen',{id:klas.id}) }}" class="w-100"><i
                                                class="fas fa-trash text-danger"></i></a></td>
                            </tr>

                        {% endfor %}
                        </tbody>

                    </table>

                {% else %}
                    <h3 class="text-center"><i class="fas fa-exclamation-triangle text-warning"></i> U heeft nog geen klassen aangemaakt</h3>
                {% endif %}

            </div>
            <div class="col">

                <h1 class="text-center p-3"><i class="fas fa-cog"></i> Opties</h1>
                <div class="border w-100 p-3">
                    <a href="{{ path('slb_nieuwe_klas') }}" class="btn btn-success w-100 mb-2"><i
                                class="fas fa-user-plus"></i> Klas toevoegen</a>
                    <a href="{{ path('slb_studenten_toevoegen') }}" class="btn btn-success w-100"><i
                                class="fas fa-user-plus"></i> Studenten toevoegen</a>
                    <a href="{{ path('slb_uitnodigingen') }}" class="btn btn-primary w-100 mt-2"><i
                                class="fas fa-list"></i> Overzicht uitnodigingen</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}